[Unit]
Description=Omarchy Arch Fcitx5 input method
PartOf=omarchy-arch-session.target
After=wayland-session-waitenv.service
ConditionEnvironment=WAYLAND_DISPLAY
ConditionFileIsExecutable=/usr/bin/fcitx5

[Service]
EnvironmentFile=%t/omarchy-arch-session.env
ExecCondition=/usr/bin/bash -c '! /usr/bin/flock -n %t/omarchy-arch-session.lock /usr/bin/true'
Type=simple
ExecStart=/usr/bin/fcitx5 --disable notificationitem
Restart=always
RestartSec=2
