[Unit]
Description=Omarchy Arch Quickshell
PartOf=omarchy-arch-session.target
After=wayland-session-waitenv.service
ConditionEnvironment=OMARCHY_ARCH_SESSION=1
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/env omarchy-launch-shell
